DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:5432/DB?schema=public"
NEXT_PUBLIC_APP_URL=https://ezearn.org
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=
DEFAULT_ADMIN_NAME=
DEFAULT_ADMIN_REFERRAL_CODE=
SUPPORT_EMAIL=
RESEND_API_KEY=
RESEND_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
CPX_APP_ID=
CPX_APP_SECRET=
CPX_POSTBACK_SECRET=
BITLABS_APP_TOKEN=
BITLABS_APP_SECRET=
BITLABS_POSTBACK_SECRET=
BITLABS_SERVER_TO_SERVER_KEY=
THEOREMREACH_APP_TOKEN=
THEOREMREACH_APP_ID=
THEOREMREACH_PLACEMENT_ID=
THEOREMREACH_APP_SECRET=
THEOREMREACH_POSTBACK_SECRET=
THEOREMREACH_SERVER_TO_SERVER_KEY=
REVTOO_APP_ID=
REVTOO_APP_TOKEN=
REVTOO_APP_SECRET=
REVTOO_SECRET_KEY=
REVTOO_SERVER_TO_SERVER_KEY=
REVTOO_POSTBACK_SECRET=
KIWIWALL_APP_ID=
KIWIWALL_APP_TOKEN=
KIWIWALL_WALL_TOKEN=
KIWIWALL_APP_SECRET=
KIWIWALL_SECRET_KEY=
KIWIWALL_SERVER_TO_SERVER_KEY=
KIWIWALL_POSTBACK_SECRET=
